@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 85%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 15%;
    --foreground: 0 0% 95%;
    --border: 260 25% 25%;
    --input: 240 25% 20%;
    --popover: 260 20% 10%; /* Darker popover background */
    --popover-foreground: 0 0% 95%; /* Light text for readability */
  }
}